
doverdesign_dump.sql:2:CREATE TABLE products (
doverdesign_dump.sql:33:CREATE TABLE orders (
doverdesign_dump.sql:43:CREATE TABLE order_items (
doverdesign_dump.sql:73:CREATE TABLE product_images (
doverdesign_dump.sql:81:CREATE TABLE hero_images (
doverdesign_dump.sql:89:CREATE TABLE gallery_images (
doverdesign_dump.sql:102:CREATE TABLE messages (
doverdesign_dump.sql:112:CREATE TABLE categories (
doverdesign_dump.sql:124:CREATE TABLE order_counters (
doverdesign_dump.sql:129:CREATE TABLE custom_orders (
doverdesign_dump.sql:141:CREATE TABLE custom_order_counters (
doverdesign_dump.sql:147:CREATE TABLE email_logs (  id TEXT PRIMARY KEY,  type TEXT NOT NULL,  to_email 
TEXT NOT NULL,  subject TEXT,  status TEXT NOT NULL,  error TEXT,  created_at TEXT NOT NULL DEFAULT 
(strftime('%Y-%m-%dT%H:%M:%fZ','now')));
doverdesign_dump.sql:148:CREATE TABLE custom_invoices (  id TEXT PRIMARY KEY,  invoice_number TEXT NOT 
NULL,  customer_name TEXT,  customer_email TEXT NOT NULL,  description TEXT,  amount_cents INTEGER NOT 
NULL,  status TEXT NOT NULL DEFAULT 'draft',  stripe_payment_link_url TEXT,  stripe_payment_link_id 
TEXT,  stripe_checkout_session_id TEXT,  stripe_payment_intent_id TEXT,  created_at TEXT NOT NULL 
DEFAULT (strftime('%Y-%m-%dT%H:%M:%fZ','now')));
doverdesign_dump.sql:149:CREATE TABLE site_content (
doverdesign_dump.sql:155:CREATE TABLE images (
doverdesign_dump.sql:297:CREATE TABLE promotions (
doverdesign_dump.sql:311:CREATE TABLE promo_codes (
doverdesign_dump.sql:324:CREATE TABLE custom_order_examples (
doverdesign_dump.sql:344:CREATE TABLE d1_migrations(
doverdesign_dump.sql:369:CREATE INDEX idx_email_logs_type_created_at ON email_logs(type, created_at);
doverdesign_dump.sql:370:CREATE INDEX idx_custom_invoices_created_at ON custom_invoices(created_at);
doverdesign_dump.sql:371:CREATE INDEX idx_custom_invoices_status ON custom_invoices(status);
doverdesign_dump.sql:372:CREATE INDEX idx_images_storage_key ON images(storage_key);
doverdesign_dump.sql:373:CREATE INDEX idx_images_public_url ON images(public_url);
doverdesign_dump.sql:374:CREATE INDEX idx_images_entity ON images(entity_type, entity_id);
doverdesign_dump.sql:375:CREATE INDEX idx_promotions_enabled ON promotions(enabled);
doverdesign_dump.sql:377:CREATE INDEX idx_promo_codes_enabled ON promo_codes(enabled);
doverdesign_dump.sql:378:CREATE INDEX idx_custom_invoices_customer_email ON 
custom_invoices(customer_email);
doverdesign_dump.sql:379:CREATE INDEX idx_products_category ON products(category);
doverdesign_dump.sql:380:CREATE INDEX idx_products_is_active ON products(is_active);
doverdesign_dump.sql:381:CREATE INDEX idx_products_is_one_off ON products(is_one_off);
doverdesign_dump.sql:382:CREATE INDEX idx_products_is_sold ON products(is_sold);
doverdesign_dump.sql:383:CREATE INDEX idx_products_created_at ON products(created_at);
doverdesign_dump.sql:384:CREATE INDEX idx_products_slug ON products(slug);
doverdesign_dump.sql:385:CREATE INDEX idx_products_stripe_product_id ON products(stripe_product_id);
doverdesign_dump.sql:386:CREATE INDEX idx_categories_slug ON categories(slug);
doverdesign_dump.sql:387:CREATE INDEX idx_categories_name ON categories(name);
doverdesign_dump.sql:388:CREATE INDEX idx_orders_created_at ON orders(created_at);
doverdesign_dump.sql:389:CREATE INDEX idx_orders_payment_intent ON orders(stripe_payment_intent_id);
doverdesign_dump.sql:390:CREATE INDEX idx_order_items_order_id ON order_items(order_id);
doverdesign_dump.sql:391:CREATE INDEX idx_order_items_product_id ON order_items(product_id);
doverdesign_dump.sql:392:CREATE INDEX idx_custom_orders_status ON custom_orders(status);
doverdesign_dump.sql:393:CREATE INDEX idx_custom_orders_created_at ON custom_orders(created_at);
doverdesign_dump.sql:394:CREATE INDEX idx_custom_orders_stripe_session_id ON 
custom_orders(stripe_session_id);
doverdesign_dump.sql:395:CREATE INDEX idx_custom_orders_stripe_payment_intent_id ON 
custom_orders(stripe_payment_intent_id);
doverdesign_dump.sql:396:CREATE INDEX idx_messages_created_at ON messages(created_at);
doverdesign_dump.sql:397:CREATE INDEX idx_gallery_images_sort_order ON gallery_images(sort_order);
doverdesign_dump.sql:398:CREATE INDEX idx_gallery_images_created_at ON gallery_images(created_at);


